build
.idea
cmake-build-debug
CMakeLists.txt
external_old
data/FloridaCollection/readBinary4
data/FloridaCollection/triangle_matrix_print
data/readBinary4
et HEAD~ :q
external/dollar/.Rhistory
*.directory
test_results/
papers/Saena.pptx
HPDC19.aux
HPDC19.log
HPDC19.out
HPDC19.pdf
HPDC19.synctex.gz
data/2DMed_sorted2.bin
data/2DMed_sorted3.bin
data/2DMed_sorted3.mtx
data/2DMed_sorted3_changed_entries.txt
data/CombBLAS/
CMakeLists (copy).txt
data/
data/vectors/vector_generator001
vector_generator001
papers/ICCS19_lazy/ICCS19.aux
papers/ICCS19_lazy/ICCS19.bbl
papers/ICCS19_lazy/ICCS19.blg
papers/ICCS19_lazy/ICCS19.log
papers/ICCS19_lazy/ICCS19.pdf
papers/ICCS19_lazy/ICCS19.synctex.gz
papers/ICS19/ICS19.synctex.gz
papers/ICCS19_matmult/ICCS19.aux
papers/ICCS19_matmult/ICCS19.bbl
papers/ICCS19_matmult/ICCS19.blg
papers/ICCS19_matmult/ICCS19.log
papers/ICCS19_matmult/ICCS19.pdf
papers/ICCS19_matmult/ICCS19.synctex.gz
papers/ICS19/ICS19.aux
papers/ICS19/ICS19.bbl
papers/ICS19/ICS19.blg
papers/ICS19/ICS19.log
papers/ICS19/ICS19.out
papers/ICS19/ICS19.pdf
papers/ICS19/ICS19.synctex.gz
papers/ICPP19 (copy)/
papers/ICPP19/ICPP19.aux
papers/ICPP19/ICPP19.bbl
papers/ICPP19/ICPP19.blg
papers/ICPP19/ICPP19.log
papers/ICPP19/ICPP19.out
papers/ICPP19/ICPP19.synctex.gz
papers/ICPP19/algo2
papers/lazy/ICCS19.aux
papers/lazy/ICCS19.bbl
papers/lazy/ICCS19.blg
papers/lazy/ICCS19.log
papers/lazy/ICCS19.pdf
papers/lazy/ICCS19.synctex.gz