build
.idea
cmake-build-debug
CMakeLists.txt
external_old
data/FloridaCollection/readBinary4
data/FloridaCollection/triangle_matrix_print
data/readBinary4
et HEAD~ :q
external/dollar/.Rhistory
*.directory
test_results/
papers/Saena.pptx
HPDC19.aux
HPDC19.log
HPDC19.out
HPDC19.pdf
HPDC19.synctex.gz
