build
backup
.idea
cmake-build-debug
test_results/
*.directory
data/
data/FloridaCollection/readBinary4
data/FloridaCollection/triangle_matrix_print
data/readBinary4
data/2DMed_sorted2.bin
data/2DMed_sorted3.bin
data/2DMed_sorted3.mtx
data/2DMed_sorted3_changed_entries.txt
data/CombBLAS/
CMakeLists (copy).txt
vector_generator001
src/saena_object_setup2.cpp (backup)
src/saena_object_setup2_backup3.cpp
src/saena_matrix_matvec_backup.cpp
CMakeLists_copy1.txt
build_gcc_mpich
external/dollar/.Rhistory
build_old1/
test/matrix_folder/
tests/
